<footer class="bg-light">
    <div class="container text-center">
        <div class="row rowNoGutters mt-5" style="justify-content: center;">
            <div class="col-lg-3">
                <div class="d-flex flex-column">
                    <div class="p-2 font-weight-bold mb-3">Nous contacter</div>
                    <div class="p-2">Appelez-nous : 01 02 03 04 05</div>
                    <div class="p-2">(du lundi au vendredi - de 10h à 19h)</div>
                    <div class="p-2">Écrivez-nous : kabp@kabp.kabp</div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="d-flex flex-column">
                    <div class="p-2 font-weight-bold mb-3">En savoir plus</div>
                    <div class="p-2">Concept</div>
                    <div class="p-2">Mentions Légales</div>
                    <div class="p-2">CGU</div>
                    <div class="p-2">CGV</div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="d-flex flex-column">
                    <div class="p-2 font-weight-bold mb-3">Trouvez votre product</div>
                    <div class="p-2">Recherche</div>
                    <div class="p-2">Nouveautés</div>
                    <div class="p-2">A venir</div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="d-flex flex-column">
                    <div class="p-2 font-weight-bold mb-3">Langues</div>
                    <div class="p-2">Français</div>
                    <div class="p-2">Anglais</div>
                </div>
            </div>
        </div>

        <hr class="col-10 mt-3 mb-3">

        <div class="row mb-3" style="justify-content: left;">
            <p>Copyright © Pierre Pocheron, Dylan Antoniotti, Martin Khapherian, Manahel BOUCHKARA
                Projet MESI - IPI 2020-2021</p>
        </div>
    </div>

    <!--<div class="container">
            <div class="row" style="justify-content: center;">
                <div class="col-lg-4">
                    <div class="d-flex justify-content-between">
                        <a href="/connexion"><button type="button" class="btn btn-primary">Connexion</button></a>
                        <a href="/product"><button type="button" class="btn btn-warning">Produit</button></a>
                        <a href="/basket"><button type="button" class="btn btn-danger">Panier</button></a>
                    </div>
                </div>
            </div>
       </div>-->
</footer>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>