<!DOCTYPE html>
    <html lang="fr" xmlns:th="http://www.thymeleaf.org">
    <body>
        <footer th:fragment="footer" class="bg-light">
            <div class="container">
                <div class="row rowNoGutters mt-5">
                    <div class="col-12"></div>
                    <div class="col-sm-3">
                        <div class="d-flex flex-column">
                            <div class="p-2 font-weight-bold mb-3">Nous contacter</div>
                            <div class="p-2">Appelez-nous : 01 02 03 04 05</div>
                            <div class="p-2">(du lundi au vendredi - de 10h à 19h)</div>
                            <div class="p-2">Écrivez-nous : kabp@gmail.com</div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="d-flex flex-column">
                            <div class="p-2 font-weight-bold mb-3">En savoir plus</div>
                            <div class="p-2">Concept</div>
                            <div class="p-2">Mentions Légales</div>
                            <div class="p-2">CGU</div>
                            <div class="p-2">CGV</div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="d-flex flex-column">
                            <div class="p-2 font-weight-bold mb-3">Trouvez votre produit</div>
                            <div class="p-2">Recherche</div>
                            <div class="p-2">Nouveautés</div>
                            <div class="p-2">A venir</div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="d-flex flex-column">
                            <div class="p-2 font-weight-bold mb-3">Langues</div>
                            <div class="p-2">Français</div>
                            <div class="p-2">Anglais</div>
                        </div>
                    </div>
                </div>
                <hr class="col-10 mt-3 mb-3">
                <div class="row mb-3" style="justify-content: left;">
                    <p>
                        Copyright © Pierre Pocheron, Dylan Antoniotti, Martin Khapherian, Manahel BOUCHKARAProjet MESI - IPI 2020-2021
                    </p>
                </div>
            </div>
        </footer>
    </body>
</html>
