<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Accueil</title>
</head>
<body>
    <h1>Accueil</h1>
    <h2>Idée</h2>

    <p> - NavBar MegaMenu
        - Carousel JS
        - Section -> Testez notre filtre interractif !
        - Statistics ou presentations
        - Footer


        Décomposer en plusiers conteners dont 1 :
        coupé en deux partie (2boutons)
        1 - "Essayer le filtre interractif"
        2 - "Simuler votre setup de rêve"

        1 :
        Ouvre dans la meme fenetre un conteneur avec un "camembert cliquable"
        Exemple : 5 partie avec 5 couleur (bleu, vert, jaune, rouge, argent)
        On over -> fait apparaire la marque correspondant (logitech -> bleu....)
        Techno : chart.js -> youtube "Tutoriel : créer des graphiques sur une page web avecv Chart.js"


        2 :
        Page coupé en 2 partie, a gauche le choix des diférents produits et a droite le resultat simulé en direct
        Exemple : l'utilisateur choisi un casque, quand il appuie sur le bouton ajouter, celui-ci atteri sur la partie de droite et se pose sur un bureau par exemple

    </p>

</body>
</html>