<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head"></head>
<body>
    <header th:replace="fragments/header :: header"></header>

    <div id="test" class="container-fluid big-container" style="background-color:#f0f0f0;">
        <div class="container-am" style="padding-top: 30px; padding-bottom: 56px;">
            <div class="row rowNoGutters" style="justify-content: center;">
                <div class="col-lg-12">
                    <div class="text-center animate__animated animate__bounce" style="animation-name: flipInX;">
                        <h6 class="text-danger title5 pt-5">
                            <strong>listPanier|length Article(s)</strong>
                        </h6>
                        <h2 class="titleSection">Votre basket</h2>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="row mt-5" style="justify-content: center;">
                <div class="col-lg-7">
                    <div class="row d-flex align-items-center animate__animated animate__flipInX" style="animation-name: zoomIn;">
                        <div class="col-3">
                            <img src="/static/images/produits/product.image">
                        </div>
                        <div class="col-6">
                            <div class="row">
                                <div class="col-3">
                                    <p>
                                        <strong>product.code</strong>
                                    </p>
                                    product.marque
                                </div>
                                <div class="col-6">
                                    product.modele
                                </div>
                                <div class="col-3">
                                    product.prix €
                                </div>
                            </div>
                        </div>
                        <div class="col-2">
                            <form action="/delPanier" method="post">
                                <input type="text" id="produitCode" style="display:none;" name="produitCode" value="product.code">
                                <button type="submit" value="product" class="btn btn-outline-danger">Retirer du basket</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="col-12">
            <div class="row mt-5"></div>
            <div class="row mt-5" style="justify-content: center;">
                <div class="col-lg-7">
                    <div class="row d-flex align-items-center animate__animated animate__flipInX" style="animation-name: zoomIn;">
                        <div class="col-3">
                            <img src="/static/images/produits/product.image">
                        </div>
                        <div class="col-6">
                            <div class="row">
                                <div class="col-3">
                                    <p>
                                        <strong>product.code</strong>
                                    </p>
                                    product.marque
                                </div>
                                <div class="col-6">
                                    product.modele
                                </div>
                                <div class="col-3">
                                    product.prix €
                                </div>
                            </div>
                        </div>
                        <div class="col-2">
                            <form action="/delPanier" method="post">
                                <input type="text" id="produitCode" style="display:none;" name="produitCode" value="product.code">
                                <button type="submit" value="product" class="btn btn-outline-danger">Retirer du basket</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="col-12">
            <div class="row mt-5"></div>
            <div class="row mt-5" style="justify-content: center;">
                <div class="col-lg-7">
                    <div class="row d-flex align-items-center animate__animated animate__flipInX" style="animation-name: zoomIn;">
                        <div class="col-3">
                            <img src="/static/images/produits/product.image">
                        </div>
                        <div class="col-6">
                            <div class="d-lfex flex-row">
                                <div class="col-3 p-2">
                                    <p>
                                        <strong>product.code</strong>
                                    </p>
                                    product.marque
                                </div>
                                <div class="col-6 p-2">
                                    product.modele
                                </div>
                                <div class="col-3 p-2">
                                    product.prix €
                                </div>
                            </div>
                        </div>
                        <div class="col-2">
                            <form action="/delPanier" method="post">
                                <input type="text" id="produitCode" style="display:none;" name="produitCode" value="product.code">
                                <button type="submit" value="product" class="btn btn-outline-danger">Retirer du basket</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="col-12">
            <div class="row mt-5"></div>
            <div class="row mt-5" style="justify-content: center;">
                <div class="col-lg-7">
                    <div class="row d-flex align-items-center animate__animated animate__flipInX" style="animation-name: zoomIn;">
                        <div class="col-3">
                            <img src="/static/images/produits/product.image">
                        </div>
                        <div class="col-6">
                            <div class="row">
                                <div class="col-3">
                                    <p>
                                        <strong>product.code</strong>
                                    </p>
                                    product.marque
                                </div>
                                <div class="col-6">
                                    product.modele
                                </div>
                                <div class="col-3">
                                    product.prix €
                                </div>
                            </div>
                        </div>
                        <div class="col-2">
                            <form action="/delPanier" method="post">
                                <input type="text" id="produitCode" style="display:none;" name="produitCode" value="product.code">
                                <button type="submit" value="product" class="btn btn-outline-danger">Retirer du basket</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="col-12">
            <div class="row mt-5"></div>
            <div class="row mt-5" style="justify-content: center;">
                <div class="col-lg-4 ">
                    <div class="row d-flex align-items-center" style="font-weight: bold">
                        <div class="col-3">
                            listPanier|length articles
                        </div>
                        <div class="col-6">
                            Total ttc :  listPanier|sum(attribute='prix')  €
                        </div>
                        <div class="col-3">
                            <form action="/addCommande" method="post">
                                <button type="submit" value="product" class="btn btn-success">Valider order</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer th:replace="fragments/footer :: footer"></footer>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
