<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments/header :: head"></head>

    <body>
        <header th:replace="fragments/header :: header"></header>

        <div id="xxx" class="container-fluid big-container" style="background-color:#522DF8">
            <div class="container-am" style="padding-top: 30px; padding-bottom: 56px;">
                <div class="row rowNoGutters" style="justify-content: center;">
                    <div class="col-lg-12">
                        <div class="text-center animate__animated animate__bounce" style="animation-name: flipInX;">
                            <h2 class="titleSection">Page Accueil</h2>
                            <p>
                                Ammené à disparaitreCode couleur sympa (https://color.adobe.com/fr/create/color-wheel)#522DF8#2736D9#3778F0#2794D9#2DDFF8
                            </p>
                            <p>
                            <h1>th:text=" ${userForm.login} + 'et' ${userForm.pwd} "</h1>
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="" class="container-fluid big-container" style="background-color:#2736D9">
            <div class="container-am" style="padding-top: 30px; padding-bottom: 56px;">
                <div class="row rowNoGutters" style="justify-content: center;">
                    <div class="col-lg-12">
                        <div class="text-center animate__animated animate__bounce" style="animation-name: flipInX;">
                            <h2 class="titleSection">Conteneur Carousel JS</h2>
                            <p>
                                ---- SPRINT 1 ----
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="" class="container-fluid big-container" style="background-color:#3778F0">
            <div class="container-am" style="padding-top: 30px; padding-bottom: 56px;">
                <div class="row rowNoGutters" style="justify-content: center;">
                    <div class="col-lg-12">
                        <div class="text-center animate__animated animate__bounce" style="animation-name: flipInX;">
                            <h2 class="titleSection">Conteneur Filtre interactif + Simuler setup de reve</h2>
                            <p>
                                ---- SPRINT 1 ----Exemple d'idées : Ouvre dans la meme fenetre un conteneur avec un "camembert cliquable"Exemple : 5 partie avec 5 couleur (bleu, vert, jaune, rouge, argent)On over ->
                                 fait apparaire la marque correspondant (logitech ->
                                 bleu....)---- SPRINT 2 ----Exemple d'idées : Page coupé en 2 partie, a gauche le choix des diférents produits et a droite le resultat simulé en directExemple : l'utilisateur choisi un casque, quand il appuie sur le bouton ajouter, celui-ci atteri sur la partie de droite et se pose sur un bureau par exemple
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="" class="container-fluid big-container" style="background-color:#2794D9">
            <div class="container-am" style="padding-top: 30px; padding-bottom: 56px;">
                <div class="row rowNoGutters" style="justify-content: center;">
                    <div class="col-lg-12">
                        <div class="text-center animate__animated animate__bounce" style="animation-name: flipInX;">
                            <h2 class="titleSection">Conteneur Produits a venir</h2>
                            <p>
                                ---- SPRINT 2 ----Liste déroulante (carousel par exemple) permettant aux utilisateurs de voter pour les articles qui arrivent prochainementLe system de votre peux s'inspirer de Dealabs !
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="" class="container-fluid big-container" style="background-color:#2DDFF8">
            <div class="container-am" style="padding-top: 30px; padding-bottom: 56px;">
                <div class="row rowNoGutters" style="justify-content: center;">
                    <div class="col-lg-12">
                        <div class="text-center animate__animated animate__bounce" style="animation-name: flipInX;">
                            <h2 class="titleSection">Conteneur Statistiques site</h2>
                            <p>
                                ---- SPRINT 1 ou 2 ----Exemple d'infos a afficher : Nombre de clientNombre de commandesProduits vendusNb total Produits dans les stocks
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
        <div id="" class="container big-container" style="background-color:#522DF8">
            <div class="container-am" style="padding-top: 30px; padding-bottom: 56px;">
                <div class="row sliderPopulaire">
                    <div class="col-md-12">
                        <div class="product">
                            <h2> un Produit</h2>
                            <p> une phrase </p>
                            <a href="#">View produit</a>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="product">
                            <h2> un Produit</h2>
                            <p> une phrase </p>
                            <a href="#">View produit</a>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="product">
                            <h2> un Produit</h2>
                            <p> une phrase </p>
                            <a href="#">View produit</a>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="product">
                            <h2> un Produit</h2>
                            <p> une phrase </p>
                            <a href="#">View produit</a>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="product">
                            <h2> un Produit</h2>
                            <p> une phrase </p>
                            <a href="#">View produit</a>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="product">
                            <h2> un Produit</h2>
                            <p> une phrase </p>
                            <a href="#">View produit</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
     
        
      
        <footer th:replace="fragments/footer :: footer"></footer>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js" integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg==" crossorigin="anonymous"></script>
    
    <script type="text/javascript">
    $(document).ready(function(){
      $('.sliderPopulaire').slick({
  dots: true,
  infinite: false,
  speed: 300,
  slidesToShow: 4,
  slidesToScroll: 4,
  responsive: [
    {
      breakpoint: 1024,
      settings: {
        slidesToShow: 3,
        slidesToScroll: 3,
        infinite: true,
        dots: true
      }
    },
    {
      breakpoint: 600,
      settings: {
        slidesToShow: 2,
        slidesToScroll: 2
      }
    },
    {
      breakpoint: 480,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1
      }
    }
    // You can unslick at a given breakpoint now by adding:
    // settings: "unslick"
    // instead of a settings object
  ]
});
    });
  </script>
    
    </body>
</html>
